/* COMMON STYLES */

@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Regular.woff") format("woff"),
    url("fonts/OpenSans-Regular.woff2") format("woff2"),
    url("fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Bold.woff") format("woff"),
    url("fonts/OpenSans-Bold.woff2") format("woff2"),
    url("fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-width: 320px;
  margin: 0;
  font-family: OpenSans, sans-serif;
}

/* HEADER STYLES */

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 8rem;
  padding-left: 6.2vw;
  padding-right: 6.2vw;
  margin: 0 auto;
  background-image: url("img/football_767.jpg");
  background-color: #591e18;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-transform: uppercase;
  color: #ffffff;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #141443;
  opacity: 0.9;
}

.container {
  position: relative;
  z-index: 2;
}

.header__logo-icon {
  display: block;
  width: 13rem;
  height: 3.5rem;
  margin: 0 auto;
  fill: #ffffff;
}

.header__title,
.header__subtitle {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.14rem;
}

.header__title {
  margin-top: 13rem;
  margin-bottom: 8.5rem;
}

.header__subtitle {
  display: block;
  margin-left: 4.5rem;
}

.header__app-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 8rem;
  border: none;
  border-radius: 50px;
  background-color: #5e42b0;
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.header__app-link:nth-child(n + 2) {
  margin-top: 1.4rem;
}

.header__app-icon {
  width: 2rem;
  height: 2.5rem;
  margin-right: 0.8rem;
  fill: #ffffff;
}

.header__app-title {
  margin-top: 0.4rem;
}

.header__app-subtitle {
  display: block;
  font-weight: 700;
}

/* MAIN STYLES */

.athlets,
.players {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.athlets__title,
.players__title {
  margin: 0 2rem;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #e7e7e7;
}

.athlets__icon,
.players__icon {
  align-self: center;
  max-width: 100%;
}

.athlets__item,
.players__item {
  padding: 2rem;
}

.athlets__item:first-child,
.players__item:first-child {
  background-color: #fafafa;
}

.athlets__item:nth-of-type(2),
.players__item:nth-of-type(2) {
  background-color: #f5f4f9;
}

.athlets__item:last-child {
  background-color: #5e42b0;
}

.athlets__item:last-child p {
  color: #ffffff;
}

.athlets__item:last-child .athlets__item-order {
  border-color: #ffffff;
}

.athlets__item-title,
.players__item-title {
  margin: 2rem 0 0 2rem;
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.11rem;
  text-transform: uppercase;
  color: #c1c1c1;
}

.athlets__item-order,
.players__item-order {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.9rem;
  border-bottom: 3px solid #5e42b0;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.07rem;
  color: #000000;
}

.athlets__item-content,
.players__item-content {
  padding: 2.5rem 2rem 3rem;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.07rem;
  text-align: left;
}

.players__item:last-child {
  background-color: #090c35;
}

.players__item:last-child p {
  color: #ffffff;
}

.players__item:last-child .players__item-order {
  border-color: #ffffff;
  color: #8765dd;
}

/* ASIDE STYLES */

.active__item-container {
  font-size: 0;
}

.active__item-icon {
  max-width: 100%;
}

.active__item-inner {
  position: relative;
  padding: 3.5rem 2rem;
}

.active__item-title {
  margin: 0;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  color: #e7e7e7;
}

.active__item-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -6rem;
  left: 2rem;
  width: 7rem;
  height: 7rem;
  background-color: #5e42b0;
}

.active__item-order {
  display: block;
  border-bottom: 4px solid #8f7bc8;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.07rem;
  color: #f5f6f7;
}

.active__item-content {
  padding: 0;
  margin: 2.5rem 0 0 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.08rem;
}

/* FOOTER STYLES */

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  padding-bottom: 1rem;
  padding-left: 6.2vw;
  padding-right: 6.2vw;
  margin: 0 auto;
  background-image: url("img/game_767.jpg");
  background-color: #591e18;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-transform: uppercase;
  color: #ffffff;
}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #141443;
  opacity: 0.9;
}

.footer__title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
  margin-bottom: 7rem;
}

.footer__title-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5rem;
  height: 7rem;
  padding: 1rem;
  border: none;
  border-radius: 15px;
  background-color: #53399f;
}

.footer__title-icon {
  width: 5.5rem;
  height: 5rem;
  fill: #ffffff;
}

.footer__title {
  margin-top: 5.5rem;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.16rem;
}

.footer__subtitle {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.07rem;
  color: #9b8ec1;
}

.footer__app-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 8rem;
  border: none;
  border-radius: 50px;
  background-color: #5e42b0;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
}

.footer__app-link:nth-child(n + 2) {
  margin-top: 1.4rem;
}

.footer__app-icon {
  display: inline-block;
  width: 2rem;
  height: 2.5rem;
  margin-right: 0.8rem;
  fill: #ffffff;
}

.footer__app-title {
  margin-top: 0.2rem;
}

.footer__app-subtitle {
  display: block;
  margin-left: 0;
  font-weight: 700;
}

.footer__logo-icon {
  display: block;
  width: 13rem;
  height: 3.5rem;
  margin: 7rem auto 0;
  fill: #ffffff;
}

@media (min-width: 641px) {
  /* HEADER STYLES */

  .header__wrapper {
    display: flex;
    justify-content: center;
  }

  .header__app-link {
    width: 31rem;
    padding: 1.5rem 4rem;
    letter-spacing: 0.07rem;
  }

  .header__app-link:nth-child(n + 2) {
    margin-top: 0;
    margin-left: 3rem;
  }

  .header__app-icon {
    width: 4.5rem;
    height: 4rem;
    margin-right: 1rem;
  }

  /* MAIN STYLES */

  .athlets,
  .players {
    position: relative;
  }

  .athlets__title,
  .players__title {
    font-size: 8rem;
  }

  .athlets__icon,
  .players__icon {
    position: absolute;
  }

  .athlets__item-title,
  .players__item-title {
    margin-top: 2rem;
  }

  .athlets__item-order,
  .players__item-order {
    font-size: 1.8rem;
    letter-spacing: 0.06rem;
  }

  /* ASIDE STYLES */

  .active__item-title {
    font-size: 7rem;
    line-height: 6rem;
  }

  .active__item-order {
    font-size: 2.4rem;
    letter-spacing: 0.12rem;
  }

  .active__item-content {
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0.12rem;
  }

  /* FOOTER STYLES */

  .footer__title {
    font-size: calc(3.125vw + 4rem);
    letter-spacing: 0.16rem;
  }

  .footer__subtitle {
    font-size: 2.8rem;
    letter-spacing: 0;
  }

  .footer__app-wrapper {
    display: flex;
    justify-content: center;
  }

  .footer__app-link {
    width: 30rem;
    padding: 1.4rem 5rem;
    letter-spacing: 0.07rem;
  }

  .footer__app-link:nth-child(n + 2) {
    margin-top: 0;
    margin-left: 3rem;
  }

  .footer__app-icon {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
  }

  .footer__logo-icon {
    width: 20rem;
    height: 6rem;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  /* HEADER STYLES */

  .header {
    padding-bottom: 9rem;
    background-image: url("img/football_1280.jpg");
  }

  .header__logo-icon {
    width: 20rem;
    height: 6rem;
  }

  .header__title,
  .header__subtitle {
    font-size: 6.4rem;
    letter-spacing: 0.32rem;
  }

  .header__title {
    margin-top: 17rem;
    margin-bottom: 30rem;
    margin-left: 3.5rem;
  }

  .header__subtitle {
    margin-top: 0;
    margin-left: 11.5rem;
    line-height: 7rem;
  }

  /* MAIN STYLES */

  .athlets,
  .players {
    padding-top: 5rem;
  }

  .athlets__icon {
    top: 11.5rem;
    left: -16rem;
  }

  .players__icon {
    top: 5.3rem;
    right: 0;
  }

  .athlets__title,
  .athlets__item {
    padding-left: 28rem;
    padding-right: 2.4rem;
  }

  .players__title,
  .players__item {
    padding-left: 2.4rem;
    padding-right: 28rem;
  }

  .athlets__item-title,
  .players__item-title {
    font-size: 3.2rem;
    letter-spacing: 0.16rem;
  }

  .athlets__item-content,
  .players__item-content {
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
  }

  /* ASIDE STYLES */

  .active__item-inner {
    padding: 6rem 2.5rem;
  }

  .active__item-box {
    width: 11rem;
    height: 11rem;
    top: -8rem;
    left: 2.5rem;
  }

  .active__item-content {
    margin-top: 3rem;
  }

  /* FOOTER STYLES */

  .footer {
    background-image: url("img/game_1280.jpg");
  }

  .footer__title-wrapper {
    margin-top: 12rem;
    margin-bottom: 28rem;
  }

  .footer__title-link {
    width: 13.5rem;
    height: 13rem;
  }

  .footer__title-icon {
    width: 8.5rem;
    height: 8rem;
  }

  .footer__title {
    margin-top: 7rem;
  }
}

@media (min-width: 961px) {
  /* COMMON STYLES */

  body {
    max-width: 1920px;
    overflow-x: hidden;
  }

  /* HEADER STYLES */

  .header {
    padding-bottom: 10rem;
    background-image: url("img/football_1920.jpg");
  }

  .header__logo-icon {
    width: 19rem;
    height: 5rem;
  }

  .header__title,
  .header__subtitle {
    font-size: 9rem;
    letter-spacing: 0.45rem;
    line-height: 11rem;
  }

  .header__title {
    margin-top: 28rem;
    margin-bottom: 21rem;
  }

  .header__subtitle {
    text-align: right;
  }

  .header__app-link {
    font-size: 1.4rem;
  }

  /* MAIN STYLES */

  .athlets,
  .players {
    padding-top: 6rem;
  }

  .athlets__title,
  .players__title {
    margin-bottom: 4rem;
  }

  .athlets__icon {
    top: 2.5rem;
    left: calc(50% - 645px);
  }

  .players__icon {
    top: 2.5rem;
    right: calc(50% - 850px);
  }

  .athlets__title,
  .athlets__item {
    padding-left: 52vw;
    padding-right: 6.2vw;
  }

  .players__title,
  .players__item {
    padding-left: 6.2vw;
    padding-right: 52vw;
  }

  .athlets__item-title,
  .players__item-title {
    font-size: 3.6rem;
    letter-spacing: 0.18rem;
  }

  .athlets__item-content,
  .players__item-content {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }

  /* ASIDE STYLES */

  .active__item {
    display: flex;
  }

  .active__item:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .active__item-container,
  .active__item-inner {
    width: 50%;
  }

  .active__item-inner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .active__item-title {
    margin: 0;
  }

  .active__item-title,
  .active__item-content {
    padding-left: 8.5rem;
    padding-right: 1rem;
  }

  .active__item:nth-of-type(even) .active__item-title,
  .active__item:nth-of-type(even) .active__item-content {
    padding-left: 1rem;
    padding-right: 8.5rem;
  }

  .active__item-box {
    top: 9rem;
    left: -7.5rem;
    width: 15rem;
    height: 15rem;
  }

  .active__item:nth-of-type(even) .active__item-box {
    left: calc(100% - 7.5rem);
  }

  .active__item-content {
    margin: 6rem 0 0;
  }

  /* FOOTER STYLES */

  .footer {
    background-image: url("img/game_1920.jpg");
  }

  .footer__title-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer__title-link {
    width: 14.5rem;
    height: 14rem;
    margin: 0;
  }

  .footer__title-icon {
    width: 8.5rem;
    height: 8rem;
  }

  .footer__title {
    margin-left: 4rem;
  }

  .footer__subtitle {
    margin-top: 1rem;
  }

  .footer__app-link {
    font-size: 1.4rem;
  }

  .footer__logo-icon {
    margin-top: 20rem;
    margin-bottom: 6rem;
  }
}
