/* ======= COMMON ======= */

@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Regular.woff") format("woff"), url("fonts/OpenSans-Regular.woff2") format("woff2"), url("fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Bold.woff") format("woff"), url("fonts/OpenSans-Bold.woff2") format("woff2"), url("fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-width: 320px;
  margin: 0;
  font-family: OpenSans, sans-serif;
}

/* ======= HEADER ======= */

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 8rem;
  padding-left: 6.2vw;
  padding-right: 6.2vw;
  margin: 0 auto;
  background-image: url("img/football_767.jpg");
  background-color: #591e18;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  text-transform: uppercase;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #141443;
  opacity: 0.9;
}

.container {
  position: relative;
  z-index: 2;
}

.header-logo-icon {
  display: block;
  width: 13rem;
  height: 3.5rem;
  margin: 0 auto;
  fill: #ffffff;
}

.header-title,
.header-subtitle {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.14rem;
}

.header-title {
  margin-top: 13rem;
  margin-bottom: 8.5rem;
}

.header-subtitle {
  display: block;
  margin-left: 4.5rem;
}

.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 8rem;
  border: none;
  border-radius: 50px;
  background-color: #5e42b0;
  color: #ffffff;
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
  text-decoration: none;
  text-transform: uppercase;
}

.header-link:nth-child(n + 2) {
  margin-top: 1.4rem;
}

.header-link-icon {
  width: 2rem;
  height: 2.5rem;
  margin-right: 0.8rem;
  fill: #ffffff;
}

.header-link-desc {
  margin-top: 0.4rem;
}

.header-link-address {
  display: block;
  font-weight: 700;
}

/* ======= MAIN ======= */

.athlets, .players {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.athlets-section-title, .players-section-title {
  margin: 0 2rem;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #e7e7e7;
}

.athlets-image, .players-image {
  max-width: 100%;
  align-self: center;
}

.athlets-article, .players-article {
  padding: 2rem;
}

.athlets-article:nth-child(1), .players-article:nth-child(1) {
  background-color: #fafafa;
}

.athlets-article:nth-child(2), .players-article:nth-child(2)  {
  background-color: #f5f4f9;
}

.athlets-article:nth-child(3) {
  background-color: #5e42b0;
}

.athlets-article:nth-child(3) p {
  color: #ffffff;
}

.athlets-article:nth-child(3) .athlets-item {
  border-color: #ffffff;
}

.athlets-article-title, .players-article-title {
  margin: 2rem 0 0 2rem;
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.11rem;
  text-transform: uppercase;
  color: #c1c1c1;
}

.athlets-item, .players-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.9rem;
  border-bottom: 3px solid #5e42b0;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.07rem;
  color: #000000;
}

.athlets-content, .players-content {
  margin: 0;
  padding: 2.5rem 2rem 3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.07rem;
  text-align: left;
}

.players-article:nth-child(3) {
  background-color: #090c35;
}

.players-article:nth-child(3) p {
  color: #ffffff;
}

.players-article:nth-child(3) .players-item {
  border-color: #ffffff;
  color: #8765dd;
}

/* ======= ASIDE ======= */

.picture-box {
  font-size: 0;
}

.active-img {
  max-width: 100%
}

.active-section-inner {
  position: relative;
  padding: 3.5rem 2rem;
}

.active-section-title {
  margin: 0;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  color: #e7e7e7;

}
.active-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -6rem;
  left: 2rem;
  width: 7rem;
  height: 7rem;
  background-color: #5e42b0;
}

.active-item {
  display: block;
  border-bottom: 4px solid #8f7bc8;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.07rem;
  color: #f5f6f7;
}

.active-content {
  margin: 2.5rem 0 0 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.08rem;
}

/* ======= FOOTER ======= */

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 1rem;
  padding-left: 6.2vw;
  padding-right: 6.2vw;
  background-image: url("img/game_767.jpg");
  background-color: #591e18;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  text-transform: uppercase;
}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #141443;
  opacity: 0.9;
}

.footer-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
  margin-bottom: 7rem;
}

.footer-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5rem;
  height: 7rem;
  padding: 1rem;
  border: none;
  border-radius: 15px;
  background-color: #53399f;
}

.footer-logo-icon {
  width: 5.5rem;
  height: 5rem;
  fill: #ffffff;
}

.footer-title {
  margin-top: 5.5rem;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.16rem;
}

.footer-subtitle {
  display: block;
  color: #9b8ec1;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.07rem;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 8rem;
  border: none;
  border-radius: 50px;
  background-color: #5e42b0;
  color: #ffffff;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
}

.footer-link:nth-child(n + 2) {
  margin-top: 1.4rem;
}

.footer-link-icon {
  display: inline-block;
  width: 2rem;
  height: 2.5rem;
  margin-right: 0.8rem;
  fill: #ffffff;
}

.footer-link-desc {
  margin-top: 0.2rem;
}

.footer-link-address {
  display: block;
  margin-left: 0;
  font-weight: 700;
}

.footer-logo-icon-text {
  display: block;
  width: 13rem;
  height: 3.5rem;
  margin: 7rem auto 0;
  fill: #ffffff;
}

@media (min-width: 641px) {
  /* ======= HEADER ======= */

  .header-wrapper {
    display: flex;
    justify-content: center;
  }

  .header-link {
    width: 31rem;
    padding: 1.5rem 4rem;
    letter-spacing: 0.07rem;
  }

  .header-link:nth-child(n + 2) {
    margin-top: 0;
    margin-left: 3rem;
  }

  .header-link-icon {
    width: 4.5rem;
    height: 4rem;
    margin-right: 1rem;
  }

  /* ======= MAIN ======= */

  .athlets, .players {
    position: relative;
  }

  .athlets-section-title, .players-section-title {
    font-size: 8rem;
  }

  .athlets-image, .players-image {
    position: absolute;
  }

  .athlets-article-title, .players-article-title {
    margin-top: 2rem;
  }

  .athlets-item, .players-item {
    font-size: 1.8rem;
    letter-spacing: 0.06rem;
  }

  /* ======= ASIDE ======= */

  .active-section-title {
    font-size: 7rem;
    line-height: 6rem;
  }

  .active-item {
    font-size: 2.4rem;
    letter-spacing: 0.12rem;
  }

  .active-content {
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0.12rem;
  }

  /* ======= FOOTER ======= */

  .footer-title {
    font-size: calc(3.125vw + 4rem);
    letter-spacing: 0.16rem;
  }

  .footer-subtitle {
    font-size: 2.8rem;
    letter-spacing: 0;
  }

  .footer-links-wrapper {
    display: flex;
    justify-content: center;
  }

  .footer-link {
    width: 30rem;
    padding: 1.4rem 5rem;
    letter-spacing: 0.07rem;
  }

  .footer-link:nth-child(n + 2) {
    margin-top: 0;
    margin-left: 3rem;
  }

  .footer-link-icon {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
  }

  .footer-logo-icon-text {
    width: 20rem;
    height: 6rem;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  /* ======= HEADER ======= */

  .header {
    padding-bottom: 9rem;
    background-image: url("img/football_1280.jpg");
  }

  .header-logo-icon {
    width: 20rem;
    height: 6rem;
  }

  .header-title, .header-subtitle {
    font-size: 6.4rem;
    letter-spacing: 0.32rem;
  }

  .header-title {
    margin-top: 17rem;
    margin-bottom: 30rem;
    margin-left: 3.5rem;
  }

  .header-subtitle {
    margin-top: 0;
    margin-left: 11.5rem;
    line-height: 7rem;
  }

  /* ======= MAIN ======= */

  .athlets, .players {
    padding-top: 5rem;
  }

  .athlets-image {
    top: 11.5rem;
    left: -16rem;
  }

  .athlets-article, .athlets-section-title {
    padding-left: 28rem;
    padding-right: 2.4rem;
  }

  .athlets-article-title, .players-article-title {
    font-size: 3.2rem;
    letter-spacing: 0.16rem;
  }

  .athlets-content, .players-content {
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
  }

  .players-article, .players-section-title {
    padding-right: 28rem;
    padding-left: 2.4rem;
  }

  .players-image {
    top: 5.3rem;
    right: 0;
  }

  /* ======= ASIDE ======= */

  .active-section-inner {
    padding: 6rem 2.5rem;
  }

  .active-box {
    width: 11rem;
    height: 11rem;
    top: -8rem;
    left: 2.5rem;
  }

  .active-content {
    margin-top: 3rem;
  }

  /* ======= FOOTER ======= */

  .footer {
    background-image: url("img/game_1280.jpg");
  }

  .footer-icon-wrapper {
    margin-top: 12rem;
    margin-bottom: 28rem;
  }

  .footer-logo-link {
    width: 13.5rem;
    height: 13rem;
  }

  .footer-logo-icon {
    width: 8.5rem;
    height: 8rem;
  }

  .footer-title {
    margin-top: 7rem;
  }
}

@media (min-width: 961px) {
  /* ======= COMMON ======= */

  body {
    max-width: 1920px;
    overflow-x: hidden;
  }

  /* ======= HEADER ======= */

  .header {
    padding-bottom: 10rem;
    background-image: url("img/football_1920.jpg");
  }

  .header-logo-icon {
    width: 19rem;
    height: 5rem;
  }

  .header-title, .header-subtitle {
    font-size: 9rem;
    letter-spacing: 0.45rem;
    line-height: 11rem;
  }

  .header-title {
    margin-top: 28rem;
    margin-bottom: 21rem;
  }

  .header-subtitle {
    text-align: right;
  }

  .header-link {
    font-size: 1.4rem;
  }

   /* ======= MAIN ======= */

  .athlets, .players {
    padding-top: 6rem;
  }

  .athlets-section-title, .players-section-title {
    margin-bottom: 4rem;
  }

  .athlets-image {
    top: 2.5rem;
    left: calc(50% - 645px);
  }

  .athlets-article,
  .athlets-section-title {
    padding-left: 52vw;
    padding-right: 6.2vw;
  }

  .athlets-article-title,
  .players-article-title {
    font-size: 3.6rem;
    letter-spacing: 0.18rem;
  }

  .athlets-content,
  .players-content {
    font-size: 2rem;
    letter-spacing: 0.10rem;
  }

  .players-article,
  .players-section-title {
    padding-right: 52vw;
    padding-left: 6.2vw;
  }

  .players-image {
    top: 2.5rem;
    right: calc(50% - 850px);
  }

  /* ======= ASIDE ======= */

  .active-section {
    display: flex;
  }

.active-section:nth-of-type(even) {
   flex-direction: row-reverse;
}

  .picture-box,
  .active-section-inner {
    width: 50%;
  }

  .active-section-inner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .active-section-title {
    margin: 0;
  }

  .active-section-title, .active-content {
    padding-left: 8.5rem;
    padding-right: 1rem;
  }

  .active-section:nth-of-type(even) .active-section-title, .active-section:nth-of-type(even) .active-content {
    padding-right: 8.5rem;
    padding-left: 1rem;
  }

  .active-box {
    top: 9rem;
    width: 15rem;
    height: 15rem;
    left: -7.5rem;
  }

  .active-section:nth-of-type(even) .active-box {
    left: calc(100% - 7.5rem);
}

  .active-content {
    margin: 6rem 0 0;
  }

  /* ======= FOOTER ======= */

  .footer {
    background-image: url("img/game_1920.jpg");
  }

  .footer-icon-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer-logo-link {
    width: 14.5rem;
    height: 14rem;
    margin: 0;
  }

  .footer-logo-icon {
    width: 8.5rem;
    height: 8rem;
  }

  .footer-title {
    margin-left: 4rem;
  }

  .footer-subtitle {
    margin-top: 1rem;
  }

  .footer-link {
    font-size: 1.4rem;
  }

  .footer-logo-icon-text {
    margin-top: 20rem;
    margin-bottom: 6rem;
  }
}
